[user]
	name = jhare
	email = joseph.hare@gmail.com
[core]
    editor = vim

[alias]
	diffy = difftool -y
[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = meld $LOCAL $REMOTE
    prompt = false

[color]
	ui = true
