/*
    This file is part of S3 Browser Chrome Extension.

    S3 Browser Chrome Extension is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    S3 Browser Chrome Extensionis distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with S3 Browser Chrome Extension.  If not, see <http://www.gnu.org/licenses/>.
*/

#pnlUnableToConnect
{
    border: solid 10px #D6D6D6;
    background-color: #F7F7F7;
    padding: 60px;
    text-align: center;
    font-size: 15px;   
    display: none;
}

#pnlNoBuckets
{
    padding: 60px;
    text-align: center;
    font-size: 15px;   
    display: none;
}

.s3-subnav 
{
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    padding: 3px;
}

.s3-content 
{
    margin: 4px;
    background-color: #FFFFFF;
}

.s3-breadcrumb
{
    padding: 3px; 
    border: solid 1px #D6D6D6;
    background-color: #F2F2F2;
}

.s3-tableHeader, .s3-dialog-tableHeader
{
    clear: both; 
    overflow: hidden;
    border-left: solid 1px #D6D6D6;
    border-right: solid 1px #D6D6D6;
    background-color: #F7F7F7;
}

.s3-dialog-tableHeader
{
    border: solid 1px #D6D6D6;
}

.s3-tableHeader div, .s3-dialog-tableHeader div
{
    padding: 3px 0 1px 4px;
}

.s3-table-div
{
    border: solid 1px #D6D6D6;
    background-color: #ffffff;
}

table.s3-table tr td.hover
{
    background-color: #F9FAF7;
}

table.s3-table td
{
    cursor: pointer;
    padding: 3px 0 1px 4px;
}

.s3-dialog-div 
{
    border-right: solid 1px #D6D6D6;
    border-left: solid 1px #D6D6D6;
    border-bottom: solid 1px #D6D6D6;
}

.s3-dialog-div table td
{
    padding: 5px 0 1px 4px;
}  

.s3-dialog-div .progress 
{
    margin: 3px 4px 0 0;
}

#dlgUploadFiles_DragArea
{
    clear: both; 
    background-color: #F2F2F2; 
    border: dashed 4px #ABABAB; 
    display: block;
    padding: 18px 0; 
    margin-top: 6px;
    text-align: center; 
}

#dlgUploadFiles_DragArea.hover  
{  
    background-color: #EDDFCC;
    color: #63615E;
}

.s3-folder-cell
{
    width: 60%;
}

.s3-file-cell
{
    width: 60%;
}

.s3-file-size
{
    width: 15%;
}

.s3-file-date
{
}

.s3-properties
{
    background-color: #F7F7F7;
    border: solid 1px #D6D6D6;
    margin-top: 5px;
    height: 175px;
}

.control_error
{
    color: #DB3E1F;
    clear: both; 
    display: none;
    margin-top: 4px;
    margin-left: 160px;
}

i
{
    margin-top: 1px;
}

.dlgManageBucketsRow
{
    border-top: 1px solid #DDD; 
    clear: both; 
    display: none;
    height: 30px; 
    margin-top: -1px; 
    padding: 5px 15px; 
}

.s3-property-label
{
    float: left; 
    width: 105px;
    font-weight: bold;
    color: #6E6E6E;
}

.s3-property-row
{
    clear: both; 
    overflow: hidden;
    margin-bottom: 4px;
}

#pnlProperties div.tabbable ul.nav
{
    margin-bottom: 0;
    height: 175px;
}

#pnlProperties div.tabbable ul.nav li.active a
{
    background-color: #F7F7F7;
}

table.table 
{
    border-top: solid 1px #DEDEDE;
}

table.table thead tr th
{
    border-top: solid 1px #DEDEDE;
    border-bottom: solid 1px #DEDEDE;
    background-color: #EDEDED;
    padding: 3px 5px;
}

table.table tbody tr td
{    
    border-top: solid 1px #F0F0F0;
    padding: 3px 5px;
}
